*{
    margin: 0;
    padding: 0;
}

.app{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Bts-logo {
    width: 50vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-left: 5px solid #9966FF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Bts-logo button {
    padding: 10px;
    margin-bottom: 50px;
    background-color: transparent;
    font-size: 10px;
    border: 1px solid #9966FF;
    color: #9966FF;
}

.content button {
    padding: 10px;
    margin-bottom: 50px;
    background-color: transparent;
    font-size: 10px;
    border: 1px solid #9966FF;
    color: #9966FF;
}

.content {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.wrapper .text {
    font-size: 20px;
    color: #9966FF;
    font-family: monospace;
    text-align: center;
}

@media (max-width:750px) {
    .app {
        display: flex;
        flex-direction: column;
    }
    .Bts-logo{
        width: 100vw;
    }
    .content{
        width: 100vw;
    }
    .BG {
        width: 100vw;
    }
}